* {
  box-sizing: border-box;
}

html {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(9, 169, 177);
  height: 5rem;
  width: 100vw;
  z-index: 5;
}

nav div {
  height: 5rem;
  margin-left: 1rem;
  width: 300px;
}

nav div img {
  height: 100%;
  width: auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin-right: 1rem;
  width: 300px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 191, 125);
}

nav ul li {
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
}

@media only screen and (max-width:930px){
  .title{
    font-size:1.5rem;
  }
}


@media only screen and (max-width:850px){
  .title{
    display:none;
  }
}


a.anchor {
  display: block;
  position: relative;
  top: -5rem;
  visibility: hidden;
}

main {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(115, 205, 38);
  height: 90vh;
  background-image: url(./resources/Wagon.png);
  background-size:cover;
  background-blend-mode: soft-light;
}

main h1 {
  display: block;
  padding: 0 2rem;
  font-size: 2.5rem;
  color: black;
}

#Gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgb(178, 201, 202);
}

#OurTeam {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgb(134, 209, 155);
}

#Gallery h1,
#OurTeam h1 {
  width: 100%;
  margin: 2.5rem 0;
  font-size: 2.5rem;
  color: black;
  text-align: center;
}

#Gallery div,
#OurTeam div {
  max-width: 25rem;
  min-width: 18rem;
  border-radius: 5px;
  flex: 1 1;
  padding: 1rem;
  background-color: white;
  margin: 2rem 2rem;
}

#Gallery div img,
#OurTeam div img {
  width: 100%;
}

#Gallery div h2,
#OurTeam div h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: left;
  padding: 0 0.5rem;
}

footer {
  background-color: rgb(182, 53, 53);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}
